.delete__main__comment__modal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: 20px 20px 0 20px;
}

.delete__main__comment__modal > img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.delete__main__comment__modal > span {
  font-size: small;
  background-color: lightgray;
  padding: 5px;
  border-radius: 5px;
  word-break: break-all;
}

.modal-body {
  padding: 0 !important;
}

.modal-footer {
  border: 0 !important;
}

.modal-footer > button {
  font-size: small;
  padding: 0 !important;
}
