.change__pwd {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  margin: 20px;
  flex: 1;
}

.change__pwd > h1 {
  font-weight: bold;
  text-transform: capitalize;
}

.change__pwd > form {
  display: flex;
  flex-direction: column;
}

.change__pwd > form > .input__container {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid rgb(118, 118, 118);
}

.change__pwd > form > .input__container > input {
  width: 100%;
  border: none;
}

.change__pwd > form > .input__container > input:focus {
  outline: none;
  border: none;
}

.change__pwd > form > .input__container > .visible__password__btn:focus {
  outline: none;
  border: none;
}

.change__pwd > form > button {
  margin-top: 10px !important;
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border-color: #a88734 #9c7e31 #846a29;
  border-style: solid;
  border-width: 1px;
  width: 100%;
}
