.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(234, 237, 237);
  height: 100vh;
}

.signup__container {
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 1px solid lightgray;
  padding: 20px;
  background: white;
}

.signup__container > h1 {
  font-weight: bold;
}

.signup__container > .role__radio {
}

.signup__container > .role__radio > input {
  margin-right: 10px;
}

.signup__container > .role__radio > label {
  font-size: small;
  color: rgb(118, 118, 118);
}

.signup__container > button {
  margin-top: 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: cornflowerblue;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border-color: darkblue;
  border-style: solid;
  border-width: 1px;
  font-size: large;
  font-weight: 700;
  color: white;
  padding: 5px;
}

.signup__container > button > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
